* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Formula1';
    src: url('../letras/Formula1-Regular_web_0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@keyframes miAnimacion{

	0%{
		left: 0%;
	}

	20%{
		left: -100%;
	}

}

/***********************************************/
/***************** nav bar ********************/
/**********************************************/

body header {
    z-index: 1000;
    height: 65px;
    padding: 5px 20px;
    width: 100%;
    background-color: #1c4b82;
    position: fixed;
    display: flex;
    flex-direction: row;
}

body header .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .logo a img {
    width: 50%;
}

body header nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body header nav a {
    font-size: 14px;
    padding: 23.6px 0px;
    text-align: center;
    color: #fff;
    flex-grow: 1;
    font-family: Formula1;
}

body header nav a:hover {
    background-color: #15151E;
}

/***********************************************/
/***************** section ********************/
/**********************************************/

 section {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

#fondo1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(imagenes/fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: miAnimacion 24s linear 18s infinite;
}

#fondo2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(imagenes/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: miAnimacion 24s linear 12s infinite;
}

#fondo3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(imagenes/fondo3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: miAnimacion 24s linear 6s infinite;
}

#fondo4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(imagenes/fondo4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: miAnimacion 24s linear 0s infinite;
} 