body .wrapper {
    padding: 10px;
    background-color: #fff;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}

body .wrapper h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}

body .wrapper .post {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body .wrapper .post .princ {
    width: 25%;
    height: 350px;
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-attachment: contain;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body .wrapper .post .princ .princ-text {
    position: absolute;
    bottom: 0;
    padding: 10px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(100%);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body .wrapper .post .princ .princ-text h3 {
    color: #f7f7f7;
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
}

body .wrapper .post .princ .princ-text h4 {
    font-size: 12px;
    color: #f7f7f7;
    align-self: flex-end;
}

body .wrapper .post .princ .princ-text .lineal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body .wrapper .post .princ .princ-text .lineal img {
    width: 32px;
    height: 32px;
}

body .wrapper .post .princ .princ-text .lineal p {
    padding: 10px;
    font-size: 15px;
    color: #f7f7f7;
    text-align: justify;
}

body .wrapper .post .princ:hover .princ-text {
    transform: translateY(0%);
}